{% extends "base/base.html" %} 

{% block title %}
{{article_detail.title}}
{% endblock title %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h1>{{article_detail.title}}</h1>
      <p class="text-muted">Written by {{article_detail.author.user.first_name}} {{article_detail.author.user.last_name}} on {{article_detail.created_at|date:"d M Y"}}</p>
      <img
        src="/media/{{article_detail.article_images.first.image}}/"
        alt="Article Image"
        class="image-fluid mb-4"
      />
      <p class="lead">
        {{article_detail.content | safe}}
      </p>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Categories</h5>
          <ul class="list-unstyled">
          {% for category in categories %}
            <li><a href="#">{{category.category_name}}</a></li>
          
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
